body {
  display: flex;
  justify-content: center;
}

#inputsDiv {
  margin-top: 200px;
}

#inputsDiv input,
#inputsDiv button,
#inputsDiv select {
  font-size: large;
  text-align: center;
}

.numberInput {
  width: 5em;
}

.operatorInput {
  width: 1em;
  text-align: center;
}
